@use '../styles/variables' as *;

.site-footer {
  display: flex;
  min-height: $footer-height;
  margin-top: auto;
  padding: $space-3 $space-5;
  flex: 0 0 auto;
  align-items: center;
  justify-content: center;
  color: $color-text;
  background: $color-surface;
  text-align: center;

  small {
    font-size: $font-size-caption;
    font-weight: $font-weight-regular;
    line-height: $line-height-body;
  }
}
